@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;

}


body {
    background-color: #000000;
    color: #F6F6F6;
    height: 100vh;


    

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15%;




    box-sizing: border-box;
}


.titulodestacado{
    color: #fa9fc8;
}

.presentacion{
    display: flex;
    align-items: center;
    margin: 10% 15%;
    justify-content: space-between;
}

.presentacion_contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.presentacion_contenido_titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion_contenido_texto {

    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion_enlaces {

    display: flex;
    justify-content: space-between;
}



.presentacion_enlaces_diseño {

    width: 280px;
    background-color: #fa9fc8;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: 0;
    color: #000000;
}